<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	
		<!--Panel-->
		<form th:action="@{/autoridad/secretario/coactivo}"
			th:object="${embargoCoactivo}" method="post">
			<nav th:replace="autoridad/secretario/navbar :: panel"></nav>
			<div class="container-fluid" id="css-contenido">
				<div th:replace="layout :: alerts"></div>
				<div class="card border-dark bg-light" id="card-inicio">

					<div class="card-header text-white">
						<div class="d-flex">
							<div class="mt-2 mb-2" id="card-titulo" th:text="${form}"></div>
						</div>
					</div>
					<div class="card-body">
						<div class="form-row">
							<div class="col-md-4">
								<label>Numero Proceso</label> <input type="text"
									class="form-control text-uppercase" th:field="*{numProceso}">
							</div>
							<div class="col-md-4">
								<label for="fechaOficio">Fecha Oficio</label>
								<div class="input-group date" data-provide="datepicker">
									<input type="text" class="form-control" id="fechaOficio"
										th:field="*{fechaOficio}" readonly>
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-th"></span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<label for="tipoEmbargo">Tipo Embargo</label> <select
									th:field="*{tipoEmbargo}" class="form-control" id="tipoEmbargo">
									<option
										th:each="tipoEmbargo : ${T(enumeraciones.TipoEmbargo).values()}"
										th:value="${tipoEmbargo}" th:text="${tipoEmbargo}"></option>
								</select>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4">
								<label for="numCuenta">Numero Cuenta Banco Agrario</label> <input
									type="text" class="form-control" id="numCuenta"
									th:field="*{numCuentaAgrario}">
							</div>
						</div>

						<div class="card my-2">
							<div class="card-body">
								<table class="table table-bordered" id="tabla-sec3">
									<thead>
										<tr>
											<td style="width: 13%">Identificacion</td>
											<td style="width: 12%">Tipo Identificacion</td>
											<td style="width: 15%">Nombres</td>
											<td style="width: 15%">Apellidos</td>
											<td style="width: 15%">Resolucion Embargo</td>
											<td style="width: 15%">Fecha Resolucion</td>
											<td style="width: 15%">Monto a Embargar</td>
										</tr>
									</thead>
									<tbody>
										<tr th:each="demandado, item : *{demandados}">
											<td><input name="identificacion" type="text"
												class="form-control text-uppercase"
												th:field="*{demandados[__${item.index}__].identificacion}" />
											</td>
											<td><select class="form-control text-uppercase"
												th:field="*{demandados[__${item.index}__].tipoIdentificacion}">
													<option
														th:each="tipoIdentificacion : 
											    		${T(enumeraciones.TipoIdentificacion).values()}"
														th:value="${tipoIdentificacion}"
														th:text="${tipoIdentificacion}"></option>
											</select></td>
											<td><input name="nombres" type="text"
												class="form-control text-uppercase"
												th:field="*{demandados[__${item.index}__].nombres}" /></td>
											<td><input name="apellidos" type="text"
												class="form-control text-uppercase"
												th:field="*{demandados[__${item.index}__].apellidos}" /></td>
											<td><input name="resEmbargo" type="text"
												class="form-control text-uppercase"
												th:field="*{demandados[__${item.index}__].resEmbargo}" /></td>
											<td><input name="fechaResolucion" type="text"
												class="form-control text-uppercase"
												th:field="*{demandados[__${item.index}__].fechaResolucion}" /></td>
											<td><input name="montoAEmbargar" type="text"
												class="form-control text-uppercase"
												th:field="*{demandados[__${item.index}__].montoAEmbargar}" />
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	<footer th:replace="layout :: footer"></footer>
</body>
</html>