<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout:: head"></head>
<body>
	<!--<div th:fragment="fg-consultar">
		Panel
		
		<form action="#" th:action="@{/admin/app/consulta}" method="post">
		-->

	<div class="content" th:each="autoridad, item : *{autoridades}">
		<form action="#" th:action="@{'/admin/app/consulta/'+${consulta}}" method="post">
			<nav th:replace="admin/navbar :: panel" class="align-top"></nav>
			<div class="container-fluid" id="css-contenido">
				<div th:replace="layout :: alerts"></div>
				<div class="card border-dark bg-light" id="card-inicio">
					<div class="card-header text-white">
						<div class="d-flex">
							<div class="mt-2 mb-2" id="card-titulo" th:text="${form}"></div>
							<div class="ml-auto" id="pagin">

								<ul class="pagination" id="pag-card">
									<li class="prev page-item "><a class="page-link" href="#">Anterior</a></li>
									<li class="next page-item"><a class="next page-link"
										href="#">Siguiente</a></li>
								</ul>
							</div>

						</div>
					</div>

					<div class="card-body">
						<div class="form-row">
							<div class="col-md-4">
								<label for="idAutoridad">Identificacion</label> <input
									type="text" name="idAutoridad"
									th:value="${autoridad.idAutoridad}"
									class="form-control text-uppercase" readonly />
							</div>
							<div class="col-md-4">
								<label for="nombre">Nombre</label> <input type="text"
									name="nombre" th:value="${autoridad.nombre}"
									class="form-control text-uppercase" readonly />
							</div>
							<div class="col-md-4">
								<label for="tipoAutoridad">Tipo</label> <input type="text"
									name="tipoAutoridad" th:value="${autoridad.tipoAutoridad}"
									class="form-control text-uppercase" readonly />
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4">
								<label for="direccion">Direccion</label> <input type="text"
									name="direccion" th:value="${autoridad.direccion}"
									class="form-control text-uppercase" readonly />
							</div>
							<div class="col-md-4">
								<label for="departamento">Departamento</label> <input
									type="text" name="departamento"
									th:value="${autoridad.departamento}"
									class="form-control text-uppercase" readonly />
							</div>
							<div class="col-md-4">
								<label for="ciudad">Ciudad</label> <input type="text"
									name="ciudad" th:value="${autoridad.ciudad}"
									class="form-control text-uppercase" readonly />
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4">
								<label>Estado</label>
								<th:block th:switch="${autoridad.habilitado}">
									<input th:case="true" value="Habilitado"
										class="form-control text-uppercase" readonly />
									<input th:case="false" value="Deshabilitado"
										class="form-control text-uppercase" readonly />
								</th:block>
							</div>
						</div>

						<div class="card my-2">
							<div class="card-body">
								<table class="tbusuarios table table-bordered"
									style="width: 100%">
									<thead>
										<tr>
											<td>Identificacion</td>
											<td>Tipo Identificacion</td>
											<td>Nombres</td>
											<td>Apellidos</td>
											<td>Nombre de Usuario</td>
										</tr>
									</thead>
									<tbody>
										<tr th:each="usuario: ${autoridad.usuarios}">
											<td th:text="${usuario.identificacion}"></td>
											<td th:text="${usuario.tipoIdentificacion}"></td>
											<td th:text="${usuario.nombres}"></td>
											<td th:text="${usuario.apellidos}"></td>
											<td th:text="${usuario.username}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" th:value="*{mensaje}" />
		</form>
	</div>
	<footer th:replace="layout :: footer"></footer>
</body>
</html>