<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head"></head>
<body>
	<!--Panel-->
	<form action="#" th:action="@{/autoridad/judicial/gestor/form}"
		th:object="${embargo}" method="post" enctype="multipart/form-data">
		<div th:replace="autoridad/file :: file"></div>
		<nav th:replace="autoridad/judicial/gestor/navbar :: panel"></nav>
		<div class="container-fluid" id="css-contenido">

			<div th:replace="layout :: alerts"></div>
			<div class="card border-dark bg-light" id="card-inicio">

				<div class="card-header text-white">
					<div class="d-flex">
						<div class="mt-2 mb-2" id="card-titulo" th:text="${form}"></div>
					</div>
				</div>
				<div class="card-body">

					<div class="form-row">
						<div class="col-md-4">
							<label>Numero Proceso</label> <input type="text"
								class="form-control text-uppercase" th:field="*{numProceso}"
								onkeypress="return /[0-9]/i.test(event.key)"
								onpaste="return false" maxlength="50">
						</div>
						<div class="col-md-4">
							<label>Numero Oficio</label> <input type="text"
								class="form-control text-uppercase" th:field="*{numOficio}"
								onkeypress="return /[0-9]/i.test(event.key)"
								onpaste="return false" maxlength="20">
						</div>
						<div class="col-md-4">
							<label for="fechaOficio">Fecha Oficio</label> <input type="text"
								class="picker form-control" th:field="*{fechaOficio}" readonly>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4">
							<label for="tipoEmbargo">Tipo Embargo</label> <select
								th:field="*{tipoEmbargo}" class="form-control" id="tipoEmbargo">
								<option value="" selected></option>
								<option
									th:each="tipoEmbargo : ${T(enumeraciones.TipoEmbargo).values()}"
									th:value="${tipoEmbargo}" th:text="${tipoEmbargo}"></option>
							</select>
						</div>
						<div class="col-md-4">
							<label for="montoEmbargar">Monto a Embargar</label> 
							<input type="text" class="form-control" 
							th:field="*{montoAEmbargar}"
							onkeypress="return /[0-9]/i.test(event.key)"
							onpaste="return false" maxlength="99999999999999"
							>
							
						</div>
						<div class="col-md-4">
							<label for="numCuenta">Numero Cuenta Banco Agrario</label> <input
								type="text" class="form-control" id="numOficio"
								th:field="*{numCuentaAgrario}"
								onkeypress="return /[0-9]/i.test(event.key)"
								onpaste="return false" maxlength="50">
						</div>
					</div>
					<div class="card my-2" id="card-registrar">
						<div class="card-body">
							<div class="mb-2">
								<button type="submit" name="action" value="demandante"
									class="btn btn-secondary btn-sm">Agregar Demandantes</button>
							</div>
							<table class="table table-bordered" id="tabla-1"
								style="width: 100%">
								<thead>
									<tr>
										<td>Identificacion</td>
										<td>Tipo Identificacion</td>
										<td>Nombres</td>
										<td>Apellidos</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="demandante, item : *{demandantes}">
										<td><input name="identificacion" type="text"
											class="form-control text-uppercase"
											th:field="*{demandantes[__${item.index}__].identificacion}"
											onkeypress="return /[0-9]/i.test(event.key)"
											onpaste="return false" maxlength="20" /></td>
										<td><select class="form-control text-uppercase"
											th:field="*{demandantes[__${item.index}__].tipoIdentificacion}">
												<option value="" selected></option>
												<option
													th:each="tipoIdentificacion : 
											    		${T(enumeraciones.TipoIdentificacion).values()}"
													th:value="${tipoIdentificacion}"
													th:text="${tipoIdentificacion}"></option>
										</select></td>
										<td><input name="nombres" type="text"
											class="form-control text-uppercase"
											th:field="*{demandantes[__${item.index}__].nombres}"
											onkeypress="return /[a-z]/i.test(event.key)"
											onpaste="return false" maxlength="50" /></td>
										<td><input name="apellidos" type="text"
											class="form-control text-uppercase"
											th:field="*{demandantes[__${item.index}__].apellidos}"
											onkeypress="return /[a-z]/i.test(event.key)"
											onpaste="return false" maxlength="50" /></td>
									</tr>
								</tbody>
							</table>

							<div class="mb-2">
								<button type="submit" name="action" value="demandado"
									class="btn btn-secondary btn-sm">Agregar Demandados</button>
							</div>
							<table class="display table table-bordered" id="tabla-2"
								style="width: 100%">
								<thead>
									<tr>
										<td>Identificacion</td>
										<td>Tipo Identificacion</td>
										<td>Nombres</td>
										<td>Apellidos</td>
										<td>Monto a Embargar</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="demandado, item : *{demandados}">
										<td><input name="identificacion" type="text"
											class="form-control text-uppercase"
											th:field="*{demandados[__${item.index}__].identificacion}"
											onkeypress="return /[0-9]/i.test(event.key)"
											onpaste="return false" maxlength="20" /></td>
										<td><select class="form-control text-uppercase"
											th:field="*{demandados[__${item.index}__].tipoIdentificacion}">
												<option value="" selected></option>
												<option
													th:each="tipoIdentificacion : 
											    		${T(enumeraciones.TipoIdentificacion).values()}"
													th:value="${tipoIdentificacion}"
													th:text="${tipoIdentificacion}"></option>
										</select></td>
										<td><input name="nombres" type="text"
											class="form-control text-uppercase"
											th:field="*{demandados[__${item.index}__].nombres}"
											onkeypress="return /[a-z]/i.test(event.key)"
											onpaste="return false" maxlength="50" /></td>
										<td><input name="apellidos" type="text"
											class="form-control text-uppercase"
											th:field="*{demandados[__${item.index}__].apellidos}"
											onkeypress="return /[a-z]/i.test(event.key)"
											onpaste="return false" maxlength="50" /></td>
										<td><input name="montoAEmbargar" type="text"
											class="form-control text-uppercase"
											th:field="*{demandados[__${item.index}__].montoAEmbargar}" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" th:field="*{idAutoridad}" />
		<input type="hidden" th:field="*{username}" />
		<input type="hidden" th:field="*{embargoProcesado}" />
		<input type="hidden" th:field="*{embargado}" />
	</form>


	<footer th:replace="layout :: footer"></footer>
</body>
</html>